<!--Create Page-->
<section class="createPage">

    <form>
        <fieldset>
            <legend>Add Album</legend>
            <div class="container">

                <!-- Form for Adding Album -->
                <label for="name">Album Name:</label>
                <input id="name" type="text" required>

                <label for="imgUrl">Image URL:</label>
                <input id="imgUrl" type="url" required>

                <label for="price">Price:</label>
                <input id="price" type="number" required>

                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
            </div>
        </fieldset>
    </form>
</section>
