{% extends 'common/base.html' %}

{% block content %}
    <!--Create Page-->
    <section class="createPage">

        <form>
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">

                    <!-- Form for Song Album -->
                    <label for="name">Song Name:</label>
                    <input id="name" type="text" required>

                    <select name="album" id="id_album">
                        <option value="1">In These Silent Days</option>
                        <option value="2">The Dark Side of the Moon</option>
                        <option value="3">Melodrama</option>
                    </select>

                    <!-- Button for Song Album -->
                    <button class="add-song" type="submit">Add New Song</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}