{% extends 'common/base.html' %}

{% block content %}
    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">

            <div class="albumCover">
                <!-- Album Image -->
                <img src="/static/images/Lorde.jpg" alt="Cover Image">
            </div>

            <div class="albumInfo">

                <div class="albumText">
                    <!-- Album Info -->
                    <h1>Name: Melodrama</h1>
                    <h4>Price: $7.33</h4>
                    <h4>Songs: Song Name 1 | Song Name 2 | Song Name 3</h4>
                </div>

                <div class="actionBtn">
                    <!-- Album Buttons -->
                    <a href="#" class="edit">Edit</a>
                    <a href="#" class="remove">Delete</a>
                </div>

            </div>
        </div>
    </section>
{% endblock %}